services:
  api:
    build: .
    container_name: cogni-backend
    working_dir: /app
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file:
      - ./.env
    command: >
      poetry run uvicorn app.main:app
      --host 0.0.0.0
      --port 8000
      --reload